<div class="container my-2">
    <div class="card bg-light">

        <div class="card-header text-center">
            <a class="navbar-brand text-danger" href="/">NASA Goddard Soccer League</a>
        </div>


        <nav class="navbar navbar-expand-sm">

            <div class="card-body py-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigate">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navigate">
                    <ul class="navbar-nav me-auto  mb-sm-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/schedule">Schedule</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/standings">Standings</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/teams" data-bs-toggle="dropdown">Teams</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Blue</a></li>
                                <li><a class="dropdown-item" href="#">Gold</a></li>
                                <li><a class="dropdown-item" href="#">Gray</a></li>
                                <li><a class="dropdown-item" href="#">Green</a></li>
                                <li><a class="dropdown-item" href="#">Orange</a></li>
                                <li><a class="dropdown-item" href="#">Purple</a></li>
                                <li><a class="dropdown-item" href="#">Red</a></li>
                                <li><a class="dropdown-item" href="#">White</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>

                    </ul>
                </div>
            </div>

        </nav>

    </div>
</div>