@font-face {
  font-family: nasalization;
  src: url(/assets/fonts/nasalization.otf);
}
@font-face {
  font-family: comic-sans;
  src: url(/assets/fonts/comic-sans.ttf);
}
.navbar-brand {
  font-family: nasalization;
}

body {
  --u: 2.5vmax;
  --c1: #212129;
  --c2: #323949;
  --c3: #3d3e51;
  --c4: #323949;
  --gp: 50% / calc(var(--u) * 10) calc(var(--u) * 12);
  --glt: repeating-conic-gradient(from 210deg at 16.66% 25%, var(--c2) 0% 33.3%, #fff0 0% 100%) var(--gp);
  --glb: repeating-conic-gradient(from 210deg at 16.66% 75%, var(--c4) 0% 33.3%, #fff0 0% 100%) var(--gp);
  height: 100vh;
  background: repeating-linear-gradient(to bottom, var(--c1) 0% 1.5%, transparent 1.5% 23.5%, var(--c2) 23.5% 26.5%, transparent 26.5% 48.5%, var(--c3) 48.5% 51.5%, transparent 51.5% 73.5%, var(--c4) 73.5% 76.5%, transparent 76.5% 98.5%, var(--c1) 98.5% 100%) var(--gp), var(--glt), var(--glb), var(--glt), var(--glb), var(--glt), var(--glb), var(--glt), var(--glb), repeating-conic-gradient(from 150deg at 50% 75%, var(--c1) 0% 33.3%, rgba(255, 255, 255, 0) 0% 100%) var(--gp), repeating-conic-gradient(from 90deg at 66.66% 50%, var(--c4) 0% 33.3%, rgba(255, 255, 255, 0) 0% 100%) var(--gp), repeating-conic-gradient(from -90deg at 50% 25%, var(--c1) 0% 33.3%, var(--c2) 0% 66.4%, var(--c3) 0% 100%) var(--gp);
}

table {
  border-collapse: separate;
  border-spacing: 4px;
  width: 100%;
}

td, th {
  padding: 5px;
  border-radius: 5px;
}

th {
  background: linear-gradient(to right, #f2709c, #ff9472);
  color: white;
}

td {
  background: white;
}

.scroll-table {
  overflow: auto;
}

.todo-list li {
  text-align: left;
}

.bg-blue {
  background-color: blue;
}

.bg-gray {
  background-color: gray;
}

.bg-green {
  background-color: #198754;
}

.bg-gold {
  background-color: gold;
}

.bg-orange {
  background-color: #FD7E14;
}

.bg-purple {
  background-color: #6F42C1;
}

.bg-red {
  background-color: #DC3545;
}

.bg-covid {
  background-color: #CCC !important;
  color: light-gray !important;
}

.bg-white {
  background-color: white !important;
  color: black !important;
}

.bg-first {
  background-color: #E1C564;
}

.bg-second {
  background-color: silver;
}

.bg-third {
  background-color: #B08D57;
}

.bg-fourth {
  background-color: black;
}

.text-rainbow {
  background: linear-gradient(to right, #ef5350, #f48fb1, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-rainbow {
  background-image: linear-gradient(90deg, #F38BA0, #F6AE99, #F1CA89, #D5ECC2, #BDD2B6, #87A7B3, #E4BAD4, #F38BA0);
  background-size: 400% 400%;
  animation: animateGlow 60s linear infinite;
}
.bg-rainbow .card-header h4, .bg-rainbow .card-header h5 {
  margin: 0;
  background-image: linear-gradient(90deg, #F38BA0, #F6AE99, #F1CA89, #D5ECC2, #BDD2B6, #87A7B3, #E4BAD4, #F38BA0);
  background-size: 400% 400%;
  animation: animateGlow 60s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-rainbow h2, .bg-rainbow h4 {
  font-family: comic-sans;
  color: black;
  text-shadow: 0 0 14px white;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
}

.bg-sunset {
  background: linear-gradient(to top, #ff7e5f, #feb47b);
}
.bg-sunset .card-header h4, .bg-sunset .card-header h5 {
  margin: 0;
  background: linear-gradient(to top, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-sunset .card-body {
  color: white;
}

.bg-mono {
  background: linear-gradient(175deg, white, gray, black, gray, white);
}
.bg-mono .card-header h4, .bg-mono .card-header h5 {
  margin: 0;
  background: linear-gradient(to top, black, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-mono .card-body {
  color: white;
}

.card {
  border: none;
}

.bg-theme {
  background: linear-gradient(to right, #4568dc, #b06ab3);
}
.bg-theme .card-header h4, .bg-theme .card-header h5 {
  margin: 0;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-theme .card-body p {
  color: white;
}

.bg-button {
  background: linear-gradient(to right, #f2709c, #ff9472);
  color: white;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
